apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "rhadp"
  namespace: "{{ gitops_namespace }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: rhadp
  revisionHistoryLimit: 3
  source:
    directory:
      recurse: false
    path: apps/platform
    repoURL: "{{ rhadp_gitops_repo_url }}"
    targetRevision: "{{ rhadp_gitops_repo_revision }}"
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 10m # the maximum amount of time allowed for the backoff strategy
