apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jumpstarter
  namespace: "{{ gitops_namespace }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: "{{ platform_jumpstarter_namespace }}"
  project: rhadp
  source:
    chart: jumpstarter
    helm:
      valuesObject:
        global:
          baseDomain: "{{ platform_jumpstarter_namespace }}.apps.{{ cluster_base_domain }}"
          metrics:
            enabled: true
        jumpstarter-controller:
          grpc:
            mode: "route"
          config:
            provisioning:
              enabled: false # disable auto-provisioning, it's buggy
            authentication:
              jwt:
                - issuer:
                    url: https://kubernetes.default.svc
                    audiences:
                      - https://kubernetes.default.svc
                    audienceMatchPolicy: MatchAny
                    certificateAuthority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                  claimMappings:
                    username:
                      expression: '"kubernetes:" + claims["kubernetes.io"]["namespace"]'
                - issuer:
                    url: "https://keycloak-keycloak.apps.{{ cluster_base_domain }}/realms/openshift"
                    audiences:
                      - jumpstarter-cli
                    certificateAuthority: |
{{ r_ingress_cert['content'] | b64decode | indent(22, true) }}
                  claimMappings:
                    username:
                      claim: preferred_username
                      prefix: "jmp:"
    repoURL: "{{ jumpstarter_helm_repo }}"
    targetRevision: "{{ jumpstarter_helm_repo_version }}"
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 10m # the maximum amount of time allowed for the backoff strategy

