{% for i in range(1, jumpstarter_qemu_exporter_count) %}
---
apiVersion: jumpstarter.dev/v1alpha1
kind: Client
metadata:
  namespace: "{{ platform_exporter_namespace }}"
  name: "user{{ i }}"
spec:
  username: "jmp-kc:user{{ i }}"
{% endfor %}
