kind: Secret
apiVersion: v1
metadata:
  name: devspaces-secret-private-key
  namespace: "{{ platform_devspaces_namespace }}"
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-config
  annotations:
    controller.devfile.io/mount-as: subpath
    controller.devfile.io/mount-path: /home/tooling/.ssh
stringData:
  privateKey: "{{ vm_ssh_private_key.content }}"
type: Opaque
